[submodule "source/js/Core"]
	path = source/js/Core
	url = https://github.com/xuyannan/StoryJS-Core.git
[submodule "source/less/Core"]
	path = source/less/Core
	url = https://github.com/xuyannan/StoryJS-Core-CSS.git
